<h1>Welcome to Columbus Info!!!</h1>
<p>
Welcome, this websites searches the top google places in Columbus Ohio. You can sign up and start saving these places to your account for later reference, as well as see what information can be found on that place from a google's, "I'm feeling lucky" search result.
</p>

<div>
  <h2>
    <%= link_to("View Colombus Listing", private_path, :method => :get) %>
  </h2>
</div>
